/* Container for the form */
.wrapper {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}
.title {
    position: absolute;
    top: -10px;
    left: 14%;
    transform: translateX(-50%);
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
    color: #005cbb;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 1px 30px;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 2px solid #333; /* Border around the form */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.full-width {
    grid-column: span 2; /* Button spans both columns */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


  /* Custom class for smaller dropdown fields */
  .small-dropdown {
    
    font-size: 10px;
    height: 85px;
    width: 400px; /* Overall height of the form field */
  }
  
  /* Reduce default padding of Angular Material form fields */
 .mat-mdc-header-row {
    background-color: grey;
    color: white;
 }
  .mat-mdc-row:nth-child(odd) {
    background-color: #f2f2f2; /* Light gray for odd rows */
  }
  
  .mat-mdc-row:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
  }
  
  .mat-mdc-row:hover {
    background-color: #e0e7ff !important; /* Light blue hover effect */
    transition: 0.3s;
  }
  
 .fund-name{
    background: #005cbb;
    color: white;
 }