<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of paginatedItems ; let i = index">
      <mat-expansion-panel-header>
        <span>{{ item.title }}</span>
        <span class="toggle-container">
          <mat-slide-toggle color="primary" [checked]="item.toggleState" (change)="toggleChange(i, $event)"
            (click)="$event.stopPropagation()">
          </mat-slide-toggle>
        </span>
      </mat-expansion-panel-header>

      <!-- Search for table -->
      <mat-form-field class="search-field" appearance="outline">
        <mat-label>Search Student</mat-label>
        <input matInput (input)="applyFilter($event, item.title)">
      </mat-form-field>

      <!-- Table -->
      <table mat-table [dataSource]="dataSources[item.title]" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let student"> {{ student.id }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let student"> {{ student.name }} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> status </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.selected" (change)="toggleSelection(element)"></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Pagination for Accordion -->
  <mat-paginator
    [length]="allItems.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 15, 25]"
    (page)="onAccordionPageChange($event)">
  </mat-paginator>
</div>
